@model IEnumerable<CIM.Entities.ClsUserDepositDetails>

<table id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Deposit Type</th>
            <th>Date</th>
            <th>Deposit Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.DepositType</td>
                    <td>@item.Date.ToString("dd/MM/yyyy")</td>
                    <td>@item.DepositAmount</td>
                </tr>
            }
        }
    </tbody>
</table>
